.td-center {
    text-align: center;
}

#schedule {
    position: relative;
    height: 450px;
    margin-bottom: 40px;
}

#schedule > .DayPicker {
    display: block;
    font-size: 1.2rem;
}

.DayPicker-Month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 1rem;
    width: 100%;
}

.DayPicker-Day {
    border: 1px solid #eaecec !important;
    border-radius: unset !important;
}

.schedule-card {
    padding: 20px 30px;
    border-radius: 16px;
    -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
}

.user-blocked-reason {
    font-size: 10px;
    color: red;
}

.tabo-detail-header {
    border: 0.5px solid;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: lightgray;
}

.tabo-detail-body {
    padding: 10px 20px;
}

.tabo-detail-content {
    padding-left: 20px;
}

.tabo-detail-subtitle {
    margin-left: 20px;
}

.tabo-content-semicolon {
    padding-left: 15px;
}

.tabo-content-value {
    padding-left: 4px !important;
}



/******************** photographer portfolio **************************/

.portfolio-left-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

.portfolio-photo-item {
    padding: 0 10px 10px 10px;
}

#photo-preview {
    width: 100%;
    line-height: 0;
    font-size: 0;
}

#photo-preview > div {
    display: inline-block;
    width: 167px;
    height: 167px;
    overflow: hidden;
    position: relative;
    margin: 0 5px 5px 0;
}

/*cover all size photo on gallery*/
@media (max-width: 420px) {
    #photo-preview > div {
        width: 100%;
        height: 167px;
    }
}
@media (min-width: 421px) and (max-width: 548px) {
    #photo-preview > div {
        width: 48%;
        height: 167px;
    }
}
@media (min-width: 549px) and (max-width: 767px) {
    #photo-preview > div {
        width: 32%;
        height: 160px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #photo-preview > div {
        width: 48%;
        height: 167px;
    }
}
@media (min-width: 992px) {
    #photo-preview > div {
        width: 31%;
        height: 167px;
    }
}


#photo-preview > div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#photo-preview > div > i {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #fff;
    opacity: 0.7;
}

#photo-preview > div > i:hover {
    opacity: 1;
}

#photo-preview > div > i:before {
    font-family: FontAwesome;
    content: '\f057';
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}

.set-default-photo-profile-manager {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    left:0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 25px;
    color: #fff;
}

span.set-default-photo-profile-manager {
    cursor: default;
}

a.set-default-photo-profile-manager:hover {
    color: #fff !important;
}

/******************** end photographer portfolio **************************/


/******************** portfolio **************************/
.photo-album-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: inherit !important;
}


/******************** end photographer portfolio **************************/



@media (max-width: 480px) {
    
}

@media (max-width: 767px) {
    .container-fluid {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .card {
        padding: 0px !important;
    }
    .card-body {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .tab-content .tab-pane {
        padding: 10px 5px !important;
    }
}

@media (max-width: 1024px) {
    .input-place-location-name{
        width: 94% !important;
        top: 53px !important;
        left: 10px !important;
    }
}

@media (min-width: 1024px) {
    .input-place-location-name{
        width: 65% !important;
        top: 10px !important;
        left: 185px !important;
    }
}